
        .table {
            margin-left: 40%;
            margin-top: 20%;
            /* background-color: aqua; */
        }

        input[type="button"] {
            background-color: green;
            color: black;
            border: solid black 2px;
            width: 100%
        }

        input[type="text"] {
            background-color: white;
            border: solid black 2px;
            width: 100%
        }
   